<div class="overlay">
  <div class="header-mob-menu">
    <div class="header-menu-container">
      <a class="header-mob-link" href="tel:+380684439426"
        >+380 (68) 443-94-26
      </a>
      <button class="menu-header-btn" id="close-menu" type="button">
        <svg class="header-btn-icon" width="36" height="36">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <nav class="menu-nav-header">
      <ul class="menu-header-item">
        <li class="menu-list-item">
          <a class="header-menu-link" href="#about">About us</a>
        </li>
        <li class="menu-list-item">
          <a class="header-menu-link" href="#collection">Our collection </a>
        </li>
        <li class="menu-list-item">
          <a class="header-menu-link" href="#order">Customer order</a>
        </li>
        <li class="menu-list-item">
          <a class="header-menu-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
