<section id="collection" class="our-collection">
  <div class="container collection-container">
    <h2 class="title collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ./img/collection/poltava-desktop.jpg    1x,
              ./img/collection/poltava-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/poltava-desktop-m.jpg    1x,
              ./img/collection/poltava-desktop-m-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/poltava-tablet.jpg    1x,
              ./img/collection/poltava-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/poltava-mob.jpg    1x,
              ./img/collection/poltava-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/poltava-desktop.jpg"
            alt="Жіноча темна вишиванка з різнобарвним орнаментом"
            width="400"
            height="430"
            class="collection-item-img"
          />
        </picture>
        <div class="collection-item-text">
          <h3 class="collection-item-name">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-item-cost">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ./img/collection/gorgany-desktop.jpg    1x,
              ./img/collection/gorgany-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/gorgany-desktop-m.jpg    1x,
              ./img/collection/gorgany-desktop-m-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/gorgany-tablet.jpg    1x,
              ./img/collection/gorgany-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/gorgany-mob.jpg    1x,
              ./img/collection/gorgany-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/gorgany-desktop.jpg"
            alt="Жіноча бежева вишиванка з орнаментом чорного та червоного кольорів"
            width="400"
            height="430"
            class="collection-item-img"
          />
        </picture>
        <div class="collection-item-text">
          <h3 class="collection-item-name">Women's blouse Gorgany</h3>
          <p class="collection-item-cost">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ./img/collection/crimea-desktop.jpg    1x,
              ./img/collection/crimea-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/crimea-desktop-m.jpg    1x,
              ./img/collection/crimea-desktop-m-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/crimea-tablet.jpg    1x,
              ./img/collection/crimea-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/crimea-mob.jpg    1x,
              ./img/collection/crimea-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/crimea-desktop.jpg"
            alt="Жіноча світла вишиванка з різнобарвним орнаментом"
            width="400"
            height="430"
            class="collection-item-img"
          />
        </picture>
        <div class="collection-item-text">
          <h3 class="collection-item-name">Women's blouse Crimea</h3>
          <p class="collection-item-cost">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ./img/collection/verkhovina-desktop.jpg    1x,
              ./img/collection/verkhovina-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/verkhovina-desktop-m.jpg    1x,
              ./img/collection/verkhovina-desktop-m-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/verkhovina-tablet.jpg    1x,
              ./img/collection/verkhovina-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/verkhovina-mob.jpg    1x,
              ./img/collection/verkhovina-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/verkhovina-desktop.jpg"
            alt="Чоловіча світла вишиванка з коричневим орнаментом"
            width="400"
            height="430"
            class="collection-item-img"
          />
        </picture>
        <div class="collection-item-text">
          <h3 class="collection-item-name">Men's shirt Verkhovina</h3>
          <p class="collection-item-cost">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ./img/collection/mountain-desktop.jpg    1x,
              ./img/collection/mountain-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/mountain-desktop-m.jpg    1x,
              ./img/collection/mountain-desktop-m-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/mountain-tablet.jpg    1x,
              ./img/collection/mountain-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/mountain-mob.jpg    1x,
              ./img/collection/mountain-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/mountain-desktop.jpg"
            alt="Чоловіча темна вишиванка зі світлим орнаментом"
            width="400"
            height="430"
            class="collection-item-img"
          />
        </picture>
        <div class="collection-item-text">
          <h3 class="collection-item-name">Mountain men's shirt</h3>
          <p class="collection-item-cost">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ./img/collection/yasen-desktop.jpg    1x,
              ./img/collection/yasen-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/yasen-desktop-m.jpg    1x,
              ./img/collection/yasen-desktop-m-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/yasen-tablet.jpg    1x,
              ./img/collection/yasen-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/yasen-mob.jpg    1x,
              ./img/collection/yasen-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/yasen-desktop.jpg"
            alt="Чоловіча світла вишиванка з червоним орнаментом"
            width="400"
            height="430"
            class="collection-item-img"
          />
        </picture>
        <div class="collection-item-text">
          <h3 class="collection-item-name">Men's shirt Yasen</h3>
          <p class="collection-item-cost">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
