<section>
  <h2>Our collection</h2>
  <ul>
    <li>
      <img />
      <h3>AUGUST Poltava women's blouseRING</h3>
      <p>3300 UAH</p>
    </li>
    <li>
      <img />
      <h3>Women's blouse Gorgany</h3>
      <p>3350 UAH</p>
    </li>
    <li>
      <img />
      <h3>Women's blouse Crimea</h3>
      <p>4000 UAH</p>
    </li>
    <li>
      <img />
      <h3>Men's shirt Verkhovina</h3>
      <p>3100 UAH</p>
    </li>
    <li>
      <img />
      <h3>Mountain men's shirt</h3>
      <p>3300 UAH</p>
    </li>
    <li>
      <img />
      <h3>Men's shirt Yasen</h3>
      <p>1700 UAH</p>
    </li>
  </ul>
</section>
