<section class="container collection-container">
  <h2 class="title collection-title">Our collection</h2>
  <ul class="collectiom-list">
    <li class="collection-list-item">
      <picture>
        <source
          srcset="../img/poltava-desktop.jpg 1x, poltava-desktop-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/poltava-desktop-m.jpg 1x, poltava-desktop-m-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/poltava-tablet.jpg 1x, poltava-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/poltava-mob.jpg 1x, poltava-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="../img/poltava-desktop.jpg"
          alt="Жіноча темна вишиванка з різнобарвним орнаментом"
          width="400"
          height="430"
          class="collection-item-img"
        />
      </picture>
      <div class="collection-item-text">
        <h3 class="collection-item-name">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-item-cost">3300 UAH</p>
      </div>
    </li>
    <li class="collection-list-item">
      <picture>
        <source
          srcset="../img/gorgany-desktop.jpg 1x, gorgany-desktop-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/gorgany-desktop-m.jpg 1x, gorgany-desktop-m-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/gorgany-tablet.jpg 1x, gorgany-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/gorgany-mob.jpg 1x, gorgany-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="../img/gorgany-desktop.jpg"
          alt="Жіноча бежева вишиванка з орнаментом чорного та червоного кольорів"
          width="400"
          height="430"
          class="collection-item-img"
        />
      </picture>
      <div class="collection-item-text">
        <h3 class="collection-item-name">Women's blouse Gorgany</h3>
        <p class="collection-item-cost">3350 UAH</p>
      </div>
    </li>
    <li class="collection-list-item">
      <picture>
        <source
          srcset="../img/crimea-desktop.jpg 1x, crimea-desktop-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/crimea-desktop-m.jpg 1x, crimea-desktop-m-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/crimea-tablet.jpg 1x, crimea-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/crimea-mob.jpg 1x, crimea-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="../img/crimea-desktop.jpg"
          alt="Жіноча світла вишиванка з різнобарвним орнаментом"
          width="400"
          height="430"
          class="collection-item-img"
        />
      </picture>
      <div class="collection-item-text">
        <h3 class="collection-item-name">Women's blouse Crimea</h3>
        <p class="collection-item-cost">4000 UAH</p>
      </div>
    </li>
    <li class="collection-list-item">
      <picture>
        <source
          srcset="
            ../img/verkhovina-desktop.jpg 1x,
            verkhovina-desktop-2x.jpg     2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/verkhovina-desktop-m.jpg 1x,
            verkhovina-desktop-m-2x.jpg     2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/verkhovina-tablet.jpg 1x, verkhovina-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/verkhovina-mob.jpg 1x, verkhovina-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="../img/verkhovina-desktop.jpg"
          alt="Чоловіча світла вишиванка з коричневим орнаментом"
          width="400"
          height="430"
          class="collection-item-img"
        />
      </picture>
      <div class="collection-item-text">
        <h3 class="collection-item-name">Men's shirt Verkhovina</h3>
        <p class="collection-item-cost">3100 UAH</p>
      </div>
    </li>
    <li class="collection-list-item">
      <picture>
        <source
          srcset="../img/mountain-desktop.jpg 1x, mountain-desktop-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/mountain-desktop-m.jpg 1x,
            mountain-desktop-m-2x.jpg     2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/mountain-tablet.jpg 1x, mountain-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/mountain-mob.jpg 1x, mountain-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="../img/mountain-desktop.jpg"
          alt="Чоловіча темна вишиванка зі світлим орнаментом"
          width="400"
          height="430"
          class="collection-item-img"
        />
      </picture>
      <div class="collection-item-text">
        <h3 class="collection-item-name">Mountain men's shirt</h3>
        <p class="collection-item-cost">3300 UAH</p>
      </div>
    </li>
    <li class="collection-list-item">
      <picture>
        <source
          srcset="../img/yasen-desktop.jpg 1x, yasen-desktop-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/yasen-desktop-m.jpg 1x, yasen-desktop-m-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/yasen-tablet.jpg 1x, yasen-tablet-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/yasen-mob.jpg 1x, yasen-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="../img/yasen-desktop.jpg"
          alt="Чоловіча світла вишиванка з червоним орнаментом"
          width="400"
          height="430"
          class="collection-item-img"
        />
      </picture>
      <div class="collection-item-text">
        <h3 class="collection-item-name">Men's shirt Yasen</h3>
        <p class="collection-item-cost">1700 UAH</p>
      </div>
    </li>
  </ul>
</section>
