<header class="header">
  <div class="header-container container">
    <div class="logo-header">
      <a class="logo-header-img" href="index.html">
        <img src="./img/header/logo.svg" alt="vyshyvanka-logo" />
      </a>
    </div>
    <div class="header-nav-container">
      <nav class="header-nav">
        <ul class="header-nav-item">
          <li class="nav-list-item">
            <a class="header-nav-link" href="#about">About us</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#collection">Our collection </a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#order">Customer order</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </nav>
      <a class="header-nav-tel" href="tel:+380684439426"
        >+380 (68) 443-94-26
      </a>
    </div>
    <div class="header-connecting">
      <ul class="header-icons">
        <li class="header-icons-item">
          <a
            class="header-icons-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
          >
            <svg class="header-icons-svg" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-icons-item">
          <a
            class="header-icons-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
          >
            <svg class="header-icons-svg" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icons-item">
          <a
            class="header-icons-link"
            target="_blank"
            href="https://www.youtube.com/c/GoIT "
          >
            <svg class="header-icons-svg" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="header-menu-link-btn"  id="open-menu">
        <svg class="header-menu-svg" width="36" height="24">
          <use href="./img/icons.svg#icon-nav"></use>
        </svg>
      </button>
    </div>
  </div>
  <load src="./mobmenu/menu.html" />
</header>