<header class="header">
  <div class="header-container container">
    <div class="logo-header">
      <a class="logo-header-img" href="index.html">
        <img src="./img/logo.svg" alt="vyshyvanka-logo" />
      </a>
    </div>
    <div class="header-connecting">
      <ul class="header-icons">
        <li class="header-icons-item">
          <a
            class="header-icons-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
          >
            <svg class="header-icons-svg" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-icons-item">
          <a
            class="header-icons-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
          >
            <svg class="header-icons-svg" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icons-item">
          <a
            class="header-icons-link"
            target="_blank"
            href="https://www.youtube.com/c/GoIT "
          >
            <svg class="header-icons-svg" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="header-menu-link">
        <svg class="header-menu-svg" width="36" height="24">
          <use href="./img/icons.svg#icon-nav"></use>
        </svg>
      </button>
    </div>
  </div>
  <load src="partials/mobmenu/menu.html" />
</header>
