<section class="section-hero">
  <div class="container hero-container">
    <div class="hero-wrraper">
      <picture>
        <source
          srcset="
            ./img/hero/herogirl-desktop.jpg   1x,
            ./img/hero/herogirl-desktop2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/herogirl-tab.jpg   1x,
            ./img/hero/herogirl-tab2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/herogirl-mob.jpg   1x,
            ./img/hero/herogirl-mob2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          srcset="
            ./img/hero/herogirl-desktop.jpg   1x,
            ./img/hero/herogirl-desktop2x.jpg 2x
          "
          src="./img/hero/herogirl-desktop.jpg"
          alt="дівчина в сірій вишитій сорочці"
          width="335"
          height="545"
          class="hero-girl-img"
        />
      </picture>

      <div class="hero-title-container">
        <h1 class="hero-title">
          Reviving the traditional<span> Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-button" href="#"
          >Order
          <svg class="hero-button-icon" width="27" height="19">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-sun">
      <img class="hero-sun-img" src="../img/hero/sun.png" alt="" />
      <p class="hero-sun-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
