<section class="section-hero">
  <div class="container hero-container">
    <div class="hero-wrraper">
      <img src="" alt="" />
      <div>
        <h1 class="hero-title">
          Reviving the traditional <span> Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-button" href="#"
          >Order
          <svg></svg>
        </a>
      </div>
    </div>
    <div class="hero-images">
      <div class="hero-sun">
        <img class="hero-sun-img" src="" alt="" />
        <p class="hero-sun-text">all embroidery is made by hand</p>
      </div>
    </div>
  </div>
</section>
