<section class="order-section">
  <div class="container order-container" id="order">
    <div class="order-wrapper">
      <h2 class="title order-title">
        <span class="order-title-yellow-txt">Your order </span>is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="order-form" autocomplete="on">
        <input
          class="order-input"
          type="text"
          name="order_username"
          id="order_username"
          placeholder="Enter your full name"
          required
          pattern="[A-Za-zА-Яа-яЁёІіЇїЄєҐґ\s]+"
          title="Please enter your full name (letters and spaces only)"
        />
        <input
          class="order-input"
          type="email"
          name="order_email"
          id="order_email"
          placeholder="Enter your email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
          title="Please enter a valid email address"
        />
        <textarea
          class="order-textarea"
          name="order_comments"
          placeholder="Comments"
          id="user-comments"
        ></textarea>
        <button class="order-button" type="submit">
          Send<svg class="order-btn-icon" width="26" height="10">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="order-img-wrap">
      <picture class="order-img">
        <source
          srcset="
            ./img/order/order-content-pc-1x.jpg 1x,
            ./img/order/order-content-pc-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          srcset="
            ./img/order/order-content-tab-1x.jpg 1x,
            ./img/order/order-content-tab-2x.jpg 2x
          "
          src="./img/order/order-content-tab-1x.jpg"
          alt="a woman in an embroidered shirt and a gray embroidered waistcoat"
          width="638"
          height="521"
        />
      </picture>
    </div>
  </div>
</section>
