.about {
  padding: 40px 0 62px;
  background-image: url('../img/about/elements-mob.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 250px 408px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about {
    background-image: url('../img/about/elements-mob-2x.png');
  }
}

.about-title {
  margin-bottom: 40px;
}

.about-text-description p:not(:last-child) {
  margin-bottom: 20px;
}

.about-wrap {
  margin-bottom: 50px;
}

.about-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 50px 0 50px;
    background-image: url('../img/about/elements-tab.png');
    background-size: 369px 484px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url('../img/about/elements-tab-2x.png');
    }
  }
  .about-text {
    display: inline;
  }
  .about-wrap {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 75px 0 80px;
    background-image: url('../img/about/elements-desk1280.png');
    background-size: 385px 484px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url('../img/about/elements-desk1280-2x.png');
    }
  }
  .about-container {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .about-wrap {
    max-width: 436px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    background-image: url('../img/about/elements-desk1440.png');
    background-size: 545px 484px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url('../img/about/elements-desk1440-2x.png');
    }
  }
}
