.our-collection {
}

.collection-container {
  padding-top: 18px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/collection/Background-img-collection.png);
  background-repeat: no-repeat;
  background-position: top 316px left 0;
}
.collection-title {
  margin-bottom: 40px;
}
.collectiom-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.collection-list-item {
}
.collection-item-img {
  border-radius: 4px;
  margin-bottom: 18px;
}
.collection-item-text {
}
.collection-item-name {
  overflow: hidden;
  color: var(--white-color);
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.collection-item-cost {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: 1; /* 100% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.collection-down-img {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
