body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: rgba(67, 68, 85, 1);
  background-color: #1c2225;
  font-size: 16px;
}
.container {
  max-width: 325px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
  .title {
    font-size: 44px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1082px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}
