.footer {
    padding-top: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-navigation {
    display: flex;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 40px;
}

.footer-menu-item {
    width: calc((100% - 40px) / 2);
}

.first {}

.second {
    order: 1;
}

.third {}

.fourth {
    order: 2;
}

.footer-menu-link {
    display: inline-flex;
    min-width: 124px;
    color: #FCF9F9;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    color: #ECD979;
}

.footer-text {
    min-width: 335px;
    color: #FCF9F9;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
    margin-bottom: 80px;
}

.footer-text-span {
    color: #ECD979;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1440px) {}
