.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-container {
  max-width: 100%;
  margin-top: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.logo-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo-header-img {
  width: 44px;
  height: 39px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-icons-item {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
}
.header-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icons-svg {
  fill: #fcf9f9;
}
.header-connecting {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-menu-link {
  display: flex;
  align-items: center;
  width: 36px;
  height: 24px;
}
.header-menu-svg {
  fill: #fcf9f9;
}
.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  padding: 20px 20px 0 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}
.header-mob-link {
  color: #1c2225;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
