.order-section {
  padding-top: 670px;
  padding-bottom: 40px;
  background-image: url('../img/order/order-bg-gg-mob-1x.jpg');
  background-repeat: no-repeat;
  background-position: top 40px center;
  background-size: auto 550px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-section {
    background-image: url('../img/order/order-bg-gg-mob-2x.jpg');
  }
}

.order-title {
  margin-bottom: 40px;
}

.order-title-yellow-txt {
  color: var(--gold-color);
}
.order-img {
  display: none;
}
.order-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-input {
  height: 47px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 16px;
  background-color: inherit;
  color: var(--white-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.order-input:focus-within {
  border-color: var(--gold-color);
}

.order-textarea {
  height: 196px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 16px;
  background-color: inherit;
  color: var(--white-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
}

.order-textarea:focus-within {
  border-color: var(--gold-color);
}

.order-button {
  display: flex;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 36px;
  min-width: 145px;
  height: 49px;
  background-color: inherit;
  color: var(--white-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:focus,
.order-button:hover,
.order-button:active {
  border-color: var(--gold-color);
  outline: none;
}
.order-button:focus-visible {
  outline: none;
  border-color: var(--gold-color);
}

.order-btn-icon {
  fill: var(--gold-color);
  height: 100%;
}
@media screen and (min-width: 768px) {
  .order-section {
    padding-top: 926px;
    padding-bottom: 79px;
    background-image: url('../img/order/order-bg-gg-tab-1x.jpg'),
      url('../img/order/order-ornament.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top 50px center, bottom left;
    background-size: 768px 776px, 340px 484px;
  }

  .order-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .order-img {
    display: block;
    margin: 0;
    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order-section {
      background-image: url('../img/order/order-bg-gg-tab-2x.jpg'),
        url('../img/order/order-ornament-2x.png');
    }
  }

  .order-wrapper {
    margin-right: auto;
  }

  .order-title {
    max-width: 542px;
    line-height: 1.31;
  }

  .order-title-yellow-txt {
    line-height: 1.31;
  }

  .order-form {
    max-width: 508px;
  }

  .order-input {
    height: 50px;
    font-size: 16px;
  }
  .order-textarea {
    font-size: 16px;
  }

  .order-button {
    margin-left: 0;
    margin-right: auto;
    font-size: 16px;
    padding: 14px 39px;
  }

  .order-img-wrap {
    margin-left: auto;
    box-sizing: content-box;
  }
}

@media screen and (min-width: 1280px) {
  .order-section {
    padding-top: 1000px;
    padding-bottom: 0;
    background-image: url('../img/order/order-bg-gg-pc-1x.jpg'),
      url('../img/order/order-ornament-pc.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top 75px center, bottom left;
    background-size: 1282px 776px, 289px 484px;
  }

  .order-container {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 50px;
    max-width: 1146px;
  }

  .order-img-wrap {
    max-width: 524px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order-section {
      background-image: url('../img/order/order-bg-gg-pc-2x.jpg'),
        url('../img/order/order-ornament-pc-2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .order-section {
    padding-bottom: 0;
    background-image: url('../img/order/order-bg-gg-pcuw-1x.jpg'),
      url('../img/order/order-ornament-pcuw.png');
    background-size: 1440px 776px, 324px 484px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order-section {
      background-image: url('../img/order/order-bg-gg-pcuw-2x.jpg'),
        url('../img/order/order-ornament-pcuw-2x.png');
    }
  }

  .order-container {
    max-width: 1440px;
  }

  .order-wrapper {
    max-width: 666px;
  }

  .order-title {
    max-width: 666px;
  }
}
